//MEDIA QUERIES & FIXES
@media only screen and (max-width: 40.063em){
 
}

@media only screen and (max-width: 600px){
.logo{
	background: url("../img/logo-white-small.png");
	background-size: 100%;
	height: 40px;
	width: 80px;
	right: auto;
	left: 20px;
  &.dark{
    background: url("../img/logo-black-small.png");
    background-size: 100%;
  }
}
.panel.white{
  padding: 20px 10px;
}

.button-group .button, .button-group.payment div{
  display: block;
}

.menu-header ul{
  margin: 0;
  margin-top: 10px;
  text-align: left;
  margin-bottom: 10px;
  width: calc(100% - 160px);
  float: left;
  li{
    display: block;
  }
  li a{
    line-height: inherit;
    padding: 0px 22px;
  }
}

body.checkout .contents, body.menu .contents {
padding-top: 140px;
}

.menu-left{
	display: none;

}
.half{
	width:100%;
	&.tab{
		width:50%;
	}
}
.close{
	display: none;
}

  body.admin{
  	.sidebar{
  		width: $sidebar-closed;
  		.title{
  			background: $grey-5;
  		}
  		.active .title{
  			background: $green;
  		}
  		li{
  			a .title{
  				transform: perspective( 200px ) rotateY( 90deg );
				}
			}
		}
	}

/* Force table to not be like tables anymore */
  .responsive{

    thead,  tbody,  body th,  tbody tr td,  tbody tr { 
      display: block; 
    }
    thead tr { 
      position: absolute;
      top: -9999px;
      left: -9999px;
    }
    tr { }
    tr:nth-of-type(even){
      background: $grey-5;
    }
    tbody tr td { 
      /* Behave  like a "row" */
      border: none;
      position: relative;
      padding-left: 100px !important; 
    }
    td:before { 
      /* Now like a table header */
      position: absolute;
      /* Top/left values mimic padding */

      width: 100px; 
      padding-right: 10px; 
      white-space: nowrap;
      font-size: 10px;
      text-transform: uppercase;
      text-align: right;
      line-height: 30px;
      height: 30px;
      left:0;
      top:0;
    }
    .item td, .option td, td{
      border:none !important;
      height: auto;
      background: none;
      height: 30px;
      line-height: 30px;
      .status{
        line-height: 20px;
        padding-top: 0;
        padding-bottom: 0;
      }
      
      border-radius: 0 !important
    }
    td.action{
        height: 40px;
        .button{
          padding-top: 0;
          padding-bottom: 0;
          line-height: 30px;
          margin:0;
        }
      }
    &.order, &.invoice{
      td:nth-of-type(1):before { content: "Item"; }
      td:nth-of-type(2):before { content: "Options"; }
      td:nth-of-type(3):before { content: "Price"; }
      td:nth-of-type(4):before { content: "Quantity"; }
      td:nth-of-type(5):before { content: "Total"; }  
    }
    &.orders{
      td:nth-of-type(1):before { content: "Date"; }
      td:nth-of-type(2):before { content: "Order"; }
      td:nth-of-type(3):before { content: "Total"; }
      td:nth-of-type(4):before { content: "Status"; }
      td:nth-of-type(5):before { content: "Action"; }  
    }
    &.invoices{
      td:nth-of-type(1):before { content: "Date"; }
      td:nth-of-type(2):before { content: "Invoice"; }
      td:nth-of-type(3):before { content: "Total"; }
      td:nth-of-type(4):before { content: "Status"; }
      td:nth-of-type(5):before { content: "Action"; }  
    }
    &.cart{
      td:nth-of-type(2):before { content: "Item"; }
      td:nth-of-type(3):before { content: "Options"; }
      td:nth-of-type(4):before { content: "Price"; }
      td:nth-of-type(5):before { content: "Quantity"; }
      td:nth-of-type(6):before { content: "Total"; }  
    }
  }
.invoice .textright{
  text-align: left;
}


}	// end max width 600px

@media only screen and (max-width: 1100px){

}

@media only screen and (max-width: 1024px){

}

@media 
only screen and (max-width: 800px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

}